# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
fortress
unit_tests

#gcov files
*.gcda
*.gcno

# tags files
tags

# dependency files
*.d

# Others
*.png
*.sav

# Folders
artifacts
cov-int/

# Project files
.cproject
.project
.settings/
Fortress.cbp
Fortress.layout

# Coverity files
fortress.tgz

#vim swap file
*.swp
