[submodule "src/third-party/soil"]
	path = third-party/soil
	url = https://github.com/paralin/soil.git
[submodule "src/third-party/glog"]
	path = third-party/glog
	url = https://github.com/google/glog
[submodule "src/third-party/yaml-cpp"]
	path = third-party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "src/third-party/glfw"]
	path = third-party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest.git
